Figures/

clean~
clean
*.swp
.nfs*
.DS*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# eclipse related files 
.project
.pydevproject
.settings/

# pycharm files
.idea/

# data files
*.nc
fort.*

# fig and movies
*.jpg
*.pdf
*.mp4
*.png

# openoffice
*.odp

# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.err
*.app

# Kernel Module Compile Results
*.mod*


